:root {
  --dark-background-color: #1f2937;
  --main-text: 48px;
  --main-font-weight: 900;
  --main-color: #f9faf8;
  --secondary-text: 18px;
  --secondary-color: #e5e7eb;
  --header-text: 24px;
  --header-color: #f9faf8;

  --button-color: #3882f6;
  --info-header-text: 36px;
  --info-header-font-weight: 900;
  --info-header-color: #1f2937;

  --quote-color: #e5e7eb;
  --quote-text: 36px;
  --quote-font-weight: 100;
  --quote-emphasis: font-style: italic;
  --quote-color: #1f2937;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: inline-block;
}

a {

	color: var(--main-color);	
	text-decoration: none;
	
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: 'roboto', sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	background: var(--dark-background-color);
	color:var(--header-color);
	font-size: var(--secondary-text);
	padding: 10px 100px 50px 100px;
}

.right-header {
}

.image {
	display: block;
	width: 300px;
	height: 200px;
	background: red;
}

.info-section {
	display: flex;
}

.quote-section {

}

.box {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	border: 2px red solid;
	margin: 10px;
}

.footer {
 display: flex;
 justify-content: center;
 align-items: center;
}

.sign-up {
	width: 500px;
	height: 200px;
	background: blue;
}