/******************************************************/
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.2;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
/******************************************************/

:root {
  --dark-bg-color: #1f2937;
  --main-text: 48px;
  --extra-bold: 900;
  --main-color: #f9faf8;
  --secondary-text: 18px;
  --secondary-color: #e5e7eb;

  --header-text: 24px;
  --header-color: #f9faf8;

  --button-bg-color: #3882f6;
  --info-header-text: 36px;
  --info-header-font-weight: 900;
  --info-header-color: #1f2937;

  --quote-bg-color: #e5e7eb;
  --quote-text: 36px;
  --quote-font-weight: 100;
  --quote-emphasis: italic;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 0 0 20px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

h1 {
  font-size: var(--main-text);
  font-weight: var(--extra-bold);
  color: var(--main-color);
  max-width: 350px;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  font-size: var(--header-text);
}

p {
  margin: 0;
  max-width: 820px;
}

.text {
  text-align: center;
}

.button {
  background: var(--button-bg-color);
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 7px 35px;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  font-size: var(--secondary-text);
  color: var(--main-color);
}

.header {
  background: var(--dark-bg-color);
  font-size: var(--secondary-text);
  color: var(--secondary-color);
  padding: 20px 200px 100px 200px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 120px;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
}

.bottom-left-header {
  margin-right: 50px;
}

.subtext {
  max-width: 450px;
  margin-bottom: 10px;
}

.image {
  width: 400px;
}
.info-section {
  color: var(--info-header-color);
  padding: 40px 0 100px 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 170px;
}

.box {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  border: 4px var(--button-bg-color) solid;
}

.box-text {
  margin-top: 10px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--quote-bg-color);
  color: var(--info-header-color);
  font-size: var(--info-header-text);
  font-family: var(--info-header-font-weight);
  padding: 80px 0 60px 0;
}

.quote-container {
  max-width: 1000px;
}

.quote {
}

.author {
  font-size: var(--quote-text);
  font-weight: var(--quote-font-weight);
  text-align: right;
}

.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.sign-up-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background: var(--button-bg-color);
  padding: 60px 80px;
  border-radius: 10px;
}

.call-button {
  outline: var(--main-color) solid 2px;
}

.left-section {
  padding-right: 70px;
}

.footer {
  background: var(--dark-bg-color);
  color: var(--main-color);
  padding: 30px 0;
}
